<div class="collections-delete-modal modal">
  <div class="modal-content">
    <h1 class="modal-content__heading">
      <%#-
        Heading will be dynamically updated by JS when the modal opens.
        This is done so that we can include the name of the collection in the heading on pages
        where multiple collections are present (e.g. Collections#index)

        Pre-populate it with a sensible default in case JS is disabled or doesn't work
      %>
      <%= t(".heading_default") %>
    </h1>
    <p class="modal-content__body">
      <%= t(".body") %>
    </p>

    <div class="modal-content__button-container">
      <input value="<%= t(".cancel").downcase %>" class="modal-content__button modal-content__button--cancel cta cta-white" type="button" />
      <input value="<%= t(".delete").downcase %>" class="modal-content__button modal-content__button--submit cta cta-purple" type="button" />
    </div>
  </div>
</div>
