<h1 class="collections-editable-name-heading page-heading">
  <%= text_area_tag "collection[name]", collection.name, spellcheck: true, class: "collections-editable-name-heading__textarea", "data-id" => collection.synthetic_id %>
  <%= inline_svg("icons/check_mark.svg", height: "28px", width: "28px", class: "collections-editable-name-heading__confirm") %>
</h1>
