<h1 class="page-heading">
  <%= t(".heading").downcase %>
</h1>

<div class="collections-index-container">
  <% @collections.each do |collection| %>
    <%= render("collections/card", collection: collection) %>
  <% end %>
</div>
