.collections-index-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  width: 100%;
  margin: auto;
  margin-top: 15px;
  background-color: $white;

  @include breakpoint($screen-xs) {
    justify-content: flex-start;
  }
}
.collections-index-create {
  @extend .collections-card;

  position:relative;
  box-sizing: border-box;

  // This element expands its height to match the generated
  // height of the collections cards. When no cards exist, its
  // height becomes 0px, so we have to set a minimum height
  // here. The minimum height is not exact - it's a manual approximation
  // based on the generated height of the card at different
  // breakpoints.
  min-height: 240px;
  border: dashed 1px $dark_purple;
  box-shadow: none;

  @include breakpoint($screen-md) {
    min-height: 340px
  }

  &:hover {
    border-width: 2px;
    box-shadow: none;
  }

  button {
    width: 100%;
    height: 100%;
    background-color: white;
    border: none;
  }

  svg {
    @extend .vertical-align;

    g {
      fill: $leaf-green;
    }
  }
}
