#collections-show {
  .photo-count {
    margin: 0;
  }
}
.collections-show__emtpy-state {
  @extend .empty-state;

  margin: 80px auto;
}
.collections-show__date-range {
  color: $dark-gray;
  text-align: left;
}
