.admin-user-list__row {
  .avatar-container {
    @extend .profile-pic;

    img {
      border: 2px solid $leaf_green;
    }
  }

  .deactivate-user {
    cursor: pointer;

    button {
      @extend .clear-btn;

      width: 18px;
      height: 18px;
    }
  }
}
