.admin-user-list__row {
  .avatar-container {
    @extend .profile-pic;

    img {
      border: 2px solid $leaf_green;
    }
  }

  .roles {
    span {
      height: 20px;
      margin-right: 7px;
      padding: 1px 7px;
      color: $orange-red;
      font-size: 14px;
      text-transform: lowercase;
      border: 1px $orange-red solid;
    }
  }

  .deactivate-user {
    cursor: pointer;

    button {
      @extend .clear-btn;

      width: 18px;
      height: 18px;
    }
  }
}
