.update-user-role-modal__roles-form {
}

.update-user-role-modal__role {
  margin-bottom: 10px;

  label {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    height: 20px;

    input {
      width: 20px;
      height: 20px;
      margin: 0 5px 0 0;
    }
  }

  p {
    display: block;
    margin: 0;
    color: $dark-gray;
  }
}
