.photo-grid-control-panel {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
}

.photo-grid-control-panel--open {
}

.photo-grid-control-panel--closed {
}
