$collection_card_padding: 3px;

.collections-card {
  @extend .soft-shadow;
  width: 51%;
  margin: 10px 0;

  padding: $collection_card_padding;

  // Introduce a midway point between screen-xs and screen-sm to make
  // the responsive transitions work a bit better
  @media screen and (min-width: 680px) {
    width: 40%;
    margin: 10px 15px 10px 0;
  }
  @include breakpoint($screen-sm) {
    width: 30%;
  }
  @include breakpoint($screen-md) {
    width: 25%;
  }
  @include breakpoint($screen-lg) {
    width: 20%;
  }

  &:hover {
    // box-shadow: 1px 0 12px 1px $medium-gray;
    border-radius: 2px;
  }
}
.collections-card__cover-photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  width: 100%;
  margin: 0 auto;
}
.collections-card__cover-photo {
  width: 48%;
  margin: 1px;
  padding-top: 48%;
  background-repeat: no-repeat;
  background-position: center center;

  background-size: cover;
}

.collections-card__cover-photo--blank {
  background-color: $medium-gray;
}

.collections-card__info {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px 0;
}
.collections-card__name {
  display: inline-block;
  max-width: 150px;

  max-height: 40px;
  margin: 0;
  padding-left: 3px;
  overflow: hidden;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  text-overflow: ellipsis;
  cursor: pointer;

  a {
    color: $dark-gray;
  }
}
.collections-card__menu-btn {
  position: relative;
  display: inline-block;
  margin-left: auto;
  padding-right: 3px;
  cursor: pointer;
}
.collections-card__menu {
  @extend .hard-shadow;
  position: absolute;
  right: $collection_card_padding;
  bottom: 0;

  display: none;
  width: 175px;
  padding: 20px 0px;
  background-color: $white;
}
.collections-card__menu-item {
  width: 100%;
  height: 40px;
  font-weight: 500;
  font-weight: 500;
  font-size: 14px;

  a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    color: $dark-gray;

    &:hover {
      background-color: $light-gray;
    }

    svg {
      margin-left: 25px;

      & g, path, ellipse {
        fill: $dark-gray;
        stroke: $dark-gray;
      }
    }

    span {
      width: 50px;
      margin-left: 15px;
    }
  }
}

// Open state for the menu
.collections-card--menu-open {
  .collections-card__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}
