.collections-card {
  @extend .soft-shadow;
  width: 200px;
  margin: 10px 15px 10px 0;

  padding: 3px;

  @include breakpoint($screen-md) {
    width: 300px;
  }
}
.collections-card__cover-photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  width: 100%;
  margin: 0 auto;
}
.collections-card__cover-photo {
  // Width accounts for padding and margin of containing elements
  width: 95px;
  margin: 1px;
  padding-top: 95px;
  background-repeat: no-repeat;
  background-position: center center;

  background-size: cover;

  @include breakpoint($screen-md) {
    // Width accounts for padding and margin of containing elements
    width: 145px;
    padding-top: 145px;
  }
}

.collections-card__cover-photo--blank {
  background-color: $light-gray;
}

.collections-card__info {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px 0;
}
.collections-card__name {
  display: inline-block;
  max-width: 150px;

  height: 20px;
  margin: 0;
  padding-left: 3px;
  overflow: hidden;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  text-overflow: ellipsis;
  cursor: pointer;

  a {
    color: $dark-gray;
  }
}
.collections-card__menu-btn {
  position: relative;
  display: inline-block;
  margin-left: auto;
  padding-right: 3px;
  cursor: pointer;
}
.collections-card__menu {
  @extend .hard-shadow;
  position: absolute;
  right: 3px;
  bottom: 0;

  display: none;
  width: 175px;
  padding: 20px 0px;
  background-color: $white;
}
.collections-card__menu-item {
  width: 100%;
  height: 40px;
  font-weight: 500;
  font-weight: 500;
  font-size: 14px;

  a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    color: $dark-gray;

    &:hover {
      background-color: $light-gray;
    }

    svg {
      margin-left: 25px;

      & g, path, ellipse {
        fill: $dark-gray;
        stroke: $dark-gray;
      }
    }

    span {
      width: 50px;
      margin-left: 15px;
    }
  }
}

// Open state for the menu
.collections-card--menu-open {
  .collections-card__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}
