.collections-index-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  margin: auto;
  margin-top: 15px;
  background-color: $white;
  width: 100%;

  @include breakpoint($screen-xs) {
    justify-content: flex-start;
  }
}
