.collections-sharing-display-show__date-range {
  margin-left: 20px;
  color: $dark-gray;
  text-align: left;

  @include breakpoint($screen-xs) {
    margin-left: 40px;
  }
}
.collections-sharing-display-show__emtpy-state {
  @extend .empty-state;

  margin: 80px auto;
}
.collections-sharing-display-show__photo-grid-container {
}
