<div class="admin__filter-warning">
  <span class="warning">
    <%= (opts[:warning_msg] || t(".warning", name: name)).html_safe %>
  </span>
  <span class="clear">
    <%= link_to(opts[:clear_msg] || t(".clear"), path) %>
  </span>
</div>
