<h1><%= t(".heading") %></h1>

<ul class="admin-index__links">
  <li class="admin-index__link-element">
    <%= link_to(t(".pages.users"), admin_users_path) %>
  </li>
  <li class="admin-index__link-element">
    <%= link_to(t(".pages.audits"), admin_audits_path) %>
  </li>
</ul>
