<ul class="auth__links auth__links--omniauth">
  <li>
    <a href="<%= omniauth_authorize_path(:user, "google_oauth2") %>">
      <div class="omniauth-btn omniauth-btn--google">
        <div class="logo"><%= inline_svg("omniauth/google.svg", height: "18px", width: "18px" ) %></div>
        <div class="label"><span>Sign In With Google</span></div>
      </div>
    </a>
  </li>
</ul>
