.filter-table {
  width: 300px;
  text-align: left;

  @include breakpoint($screen-xs) {
    width: 90%;
  }
}
.filter-table__action-bar {
  margin-top: 15px;
  margin-bottom: 5px;
}
.filter-table__pagination-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 30px;
}

