.photo-grid-control-panel {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  margin-bottom: 40px;
  padding: 0 5px;
}

.photo-grid-control-panel--open {
  border-bottom: solid 1px $dark-blue;
  box-shadow: 0 10px 5px -5px rgba(0,0,0,0.14);
}

.photo-grid-control-panel--closed {
}
