.photo-grid-control-panel__open-button {
  border-radius: 50%;
}

// Shared styling with `close_button`

.photo-grid-control-panel__toggle-button {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: $white;
  cursor: pointer;
  transition: background-color 0.15s ease-in;

  svg {
    @extend .vertical-align;
  }
}
