.admin__filter-warning {
  display: inline-block;
  margin: 10px 0;
  padding: 20px 15px;
  background: $canary-yellow;

  .clear {
    display: block;
    height: 30px;
    color: $deep-navy;
    font-weight: 700;
    line-height: 30px;

    &:visited {
      color: $deep-navy;
    }
  }
}
