input {
  box-sizing: border-box;
  width: 300px;
  height: 48px;
  margin: 10px 0;
  padding: 10px 15px;
  font-size: 18px;
  line-height: 48px;
  border: 1px solid $dark-gray;
}

input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

.input-highlight-on-focus {
  &:focus {
    border-color: $mustard;
    box-shadow: 0 0 3px $mustard;
  }
}

::-webkit-input-placeholder { text-transform: lowercase; }
::-moz-placeholder { text-transform: lowercase; }

select {
  box-sizing: border-box;
  width: 300px;
  height: 48px;
  margin: 10px 0;
  padding: 10px 15px;
  font-size: 18px;
  line-height: 48px;
  border: 1px solid $dark-gray;
}

textarea {
  box-sizing: border-box;
  padding: 5px 15px;
  font-size: 18px;
  font-family: $heading-font;
  line-height: 48px;
  border: 1px solid $dark-gray;

  &:focus {
    border-color: $mustard;
    box-shadow: 0 0 3px $mustard;
  }
}

.cta {
  font-weight: 600;

  // CSS magic: 1px keeps the text vertically aligned in the button
  line-height: 1px;
  border: none;

  cursor: pointer;

  -webkit-transition: 0.15s ease-in-out;
  -moz-transition: 0.15s ease-in-out;
  -o-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;

  &:disabled {
    cursor: default;
    opacity: 0.2;
  }
}
.cta-green {
  color: $white;
  background: $leaf-green;

  &:hover {
    background: $leaf-green-darkened;
  }
}
.cta-purple {
  color: $white;
  background: $dark-purple;

  &:hover {
    background: $dark-purple-darkened;
  }
}
.cta-white {
  color: $dark-purple;
  background: $white;
  border: 1px solid $dark-purple;
}
