input {
  height: 60px;
  width: 100%;
  margin: 7px 0;
  padding: 10px 15px;
  font-size: 18px;
  line-height: 48px;
  border: 1px solid $dark-gray;
  box-sizing: border-box;

  @include breakpoint($screen-xs) {
    width: 300px;
    height: 48px;
  }
}

input[type="submit"] {
  -webkit-appearance: button;
  // Same as h2
  font-size: 2.25rem;
  cursor: pointer;

  @include breakpoint($screen-xs) {
    // Same as h2
    font-size: 0.8 * 2.25rem;
    // Give it some breathing room at the bottom
    margin-bottom: 20px;
  }
}

::-webkit-input-placeholder { text-transform: lowercase; }
::-moz-placeholder { text-transform: lowercase; }

.cta {
  font-weight: 600;
  border: none;

  // CSS magic: 1px keeps the text vertically aligned in the button
  line-height: 1px;

  &:disabled {
    opacity: 0.2;
  }
}
.cta-purple {
  background: $dark-purple;
  color: $white;
}
.cta-white {
  background: $white;
  color: $dark-purple;
  border: 1px solid $dark-purple;
}
