input {
  box-sizing: border-box;
  width: 300px;
  height: 48px;
  margin: 10px 0;
  padding: 10px 15px;
  font-size: 18px;
  line-height: 48px;
  border: 1px solid $dark-gray;
}

input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

::-webkit-input-placeholder { text-transform: lowercase; }
::-moz-placeholder { text-transform: lowercase; }

.cta {
  font-weight: 600;

  // CSS magic: 1px keeps the text vertically aligned in the button
  line-height: 1px;
  border: none;

  &:disabled {
    opacity: 0.2;
  }
}
.cta-purple {
  color: $white;
  background: $dark-purple;
}
.cta-white {
  color: $dark-purple;
  background: $white;
  border: 1px solid $dark-purple;
}
