// Flash messages
.flash {
  position: absolute;
  top: 0;
  z-index: 99;
  padding: 12px 0;
  font-weight: 700;

  &.active {
    visibility: visible;
  }

  &.inactive {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.25s, opacity 0.25s linear;
  }

  &.error {
    background: $mustard;
  }

  &.notice {
    background: $light-green;
  }

  .flash__message {
    .close {

      // Matches bootstrap a:focus color;
      color: #337AB7;
      font-weight: 700;
      cursor: pointer;
      transition: color 0.15s ease-in;

      &:hover {
        // Matches overriden bootstrap a:focus color;
        color: #23527C;
      }
    }
  }
}
