.site-index-container {
  margin-top: 60px;
  padding: 0;
}

.site-index-logo {
  margin: 30px 0;
}

.site-index-auth-form__container {
  width: 100%;
  padding-right: 0;
  padding-left: 0;

  @include breakpoint($screen-xs) {
    border-radius: 3px;
  }

  input {
    border-right-width: 0;
    border-left-width: 0;

    @include breakpoint($screen-xs) {
      border-right-width: 1px;
      border-left-width: 1px;
    }
  }
}
