.share-collection__url {
  width: 100%;
  height: 36px;
  margin: 0;
  padding: 0px 15px;
  font-size: 14px;
  font-family: monospace;
  background-color: $canary-yellow;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
