.icon-tray__item--remove-from-collection {
  svg {
    #frame {
      fill: $white;
    }
    #mountains, #sun {
      fill: $dark_purple;
    }
    #outer-circle, #x-1, #x-2 {
      fill: $orange-red;
    }
  }
}
