.desktop-navigation {
  display: none;

  @include breakpoint($screen-xs) {
    // At desktop resolution, left-hand navbar is
    // fixed on the screen.
    position: fixed;
    top: 0;
    bottom: 0;
    display: initial;
    width: $desktop-navigation-width;
    background-color: $dark-purple;
  }
}

.desktop-navigation__logo {
  height: 65px;

  a {
    display: inline-block;
    margin: 0 auto;
    // (65px - 36px) / 2
    margin-top: 14.5px;
    text-align: left;
  }
}

.desktop-navigation__links {
  @include breakpoint($screen-xs) {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-top: 30px;
  }
}

.desktop-navigation__link-element {
  @include breakpoint($screen-xs) {
    height: 40px;
    padding-left: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 40px;
    text-align: left;

    a {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;

      // Boostrap tries to set the anchor color, override it
      color: $light-gray;
    }

    svg {
      margin-right: 20px;
      // Give icons some breathing room
      margin-left: auto;
    }

    &:hover {
      background-color: $white-opacity-30;
    }
  }
}

.desktop-navigation__link-element--minor {
  @include breakpoint($screen-xs) {
    height: 28px;
    padding-left: 40px;
    font-size: 14px;
    // Vertically center the text
    line-height: 28px;

    a {
      line-height: 28px;
    }
  }
}

.desktop-navigation__link-element--admin {
  svg {
    rect, path {
      stroke: $mustard;
    }
  }

  #handle {
    fill: $mustard;
  }
}

.desktop-navigation__link-element--product-feedback {
  svg {
    rect, path {
      stroke: $mustard;
    }
  }
}
