<div class="modal product-feedbacks-create-modal">
  <div class="modal-content">
    <div id="product-feedbacks-create-modal__component-container">
    </div>

    <div class="modal-content__button-container">
      <input value="<%= t(".close").downcase %>" class="modal-content__button modal-content__button--close cta cta-white" type="button" />
    </div>
  </div>
</div>
