<p><%= t("devise_mailer.users.reset_password_instructions.greeting", name: @resource.email) %></p>

<p><%= t("devise_mailer.users.reset_password_instructions.line1") %></p>

<p><%= link_to(t("devise_mailer.users.reset_password_instructions.reset_password_link"), edit_password_url(@resource, reset_password_token: @token)) %></p>

<p><%= t("devise_mailer.users.reset_password_instructions.line2") %></p>
