<% if @photo_count.zero? %>
<div class="photos-index__emtpy-state">
  <%= t(".empty") %>
</div>
<% else %>
<h1 class="page-heading">
  <%= t(".heading").downcase %>
</h1>
<%= render "shared/photo_count", photo_count: @photo_count %>

<div class="photos-index__photo-grid-container photo-grid-container page-content">
  <%=
    react_component(
      "PhotoGrid",
      {
        photoData: @photos.map(&:to_photo_grid_react_props)
      },
      { prerender: true }
    )
  %>
</div>
<% end %>
