<%= render "shared/photo_count", photo_count: @photo_count %>

<div class="photos-index__photo-grid-container photo-grid-container">
  <%=
    react_component(
      "PhotoGrid",
      {
        photoData: @photos.map { |photo| to_react_props(photo) }
      },
      { prerender: true }
    )
  %>
</div>
