.photo-grid-container {
  display: block;
  width: 100%;
}

.photo-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: flex-start;
  align-content: flex-start;
  margin: auto;
  margin-top: 35px;
  background-color: $white;
  font-size: 0;
  width: 90%;

  @include breakpoint($screen-xs) {
    margin: 35px 0 0 0;
  }
}

.photo-grid__aspect-ratio {
  flex: auto;
  position: relative;

  // Widths dictate the maximun number of photos per row (e.g. 25% = 4 photos)
  // Setting padding-bottom equal to the widths maintains the square aspect
  // ratio
  width: calc(100% / 4);
  max-width: calc(100% / 4);
  padding-bottom: calc(100% / 4);

  border-style: solid;
  border-width: 1px;
  border-color: $light-gray;

  @include breakpoint($screen-xs) {
    width: calc(100% / 3);
    max-width: calc(100% / 3);
    padding-bottom: calc(100% / 3);
  }

  // Introduce a midway point between screen-xs and screen-sm to make
  // the responsive transitions work a bit better
  @media screen and (min-width: 680px) {
    width: calc(100% / 4);
    max-width: calc(100% / 4);
    padding-bottom: calc(100% / 4);
  }

  @include breakpoint($screen-sm) {
    width: calc(100% / 5);
    max-width: calc(100% / 5);
    padding-bottom: calc(100% / 5);
  }

  @include breakpoint($screen-md) {
    width: calc(100% / 6);
    max-width: calc(100% / 6);
    padding-bottom: calc(100% / 6);
  }

  @include breakpoint($screen-lg) {
    width: calc(100% / 7);
    max-width: calc(100% / 7);
    padding-bottom: calc(100% / 7);
  }
}

.photo-grid__grid-element {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  @include breakpoint($screen-xs) {
    &:hover .photo-grid__overlay { opacity: 1; }
  }
}

.photo-grid__overlay {
  @include breakpoint($screen-xs) {
    height: 100%;
    width: 100%;

    padding-left: 5%;
    padding-bottom: 3%;
    padding-top: 3%;
    text-align: left;

    // Hide until hovered over
    opacity: 0;

    background: $black-opacity;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
  }
}

.photo-grid__taken-at-label {
  font-weight: 500;

  @include breakpoint($screen-xs) {
    // Display block allows margin-bottom to be set
    display: block;
    margin-bottom: 3%;
    color: $white;
    font-size: 10px;
  }

  @include breakpoint($screen-sm) {
    font-size: 12px;
  }

  @include breakpoint($screen-md) {
    font-size: 14px;
  }

  @include breakpoint($screen-lg) {
    font-size: 16px;
  }
}
