.share-collection__link-sharing {
  margin: 25px auto;
}
.share-collection__link-sharing-content {
  margin-top: 25px;
}
.share-collection__link-sharing-url {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
