.share-collection__link-sharing-renew {
  width: 100%;
  margin: 5px 0;
  color: $dark-purple;
  font-weight: 700;
  font-size: 14px;
  text-align: left;

  .loading {
    color: $dark-gray;
    font-style: italic;
  }
}
