#collections-sharing-display-show {
  .photo-count {
    margin-bottom: 0;
  }
}
.collections-sharing-display-show__date-range {
  color: $dark-gray;
  text-align: left;
}
.collections-sharing-display-show__emtpy-state {
  @extend .empty-state;

  margin: 80px auto;
}
.collections-sharing-display-show__photo-manager-container {
}
