.creatable-select-dropdown__close-menu-button {
  position: relative;
  top: 10px;
  width: 150px;
  height: 30px;
  // Clip overflowing content to make for a smoother transition
  // when the button is initially expanding
  overflow: hidden;
  border: 1px solid $dark-gray;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  outline: 0;
  transition: all 0.15s ease-in;

  &:hover {
    background-color: $dark-purple;

    span {
      color: $white;
    }
  }

  &:focus {
    background-color: $dark-purple;
    outline: 0;

    span {
      color: $white;
    }
  }

  span {
    color: $dark-purple;
    line-height: 30px;
    text-transform: lowercase;
    vertical-align: middle;
  }
}
