.flash {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 10px 0;
  font-weight: 700;

  &.active {
    visibility: visible;
  }

  &.inactive {
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.25s, opacity 0.25s linear;
  }

  &.error {
    background: $mustard;
  }

  &.notice, &.alert {
    background: $light-green;
  }

  .message {
  }
  .close {
    margin-left: 5px;
    color: $light-blue;
    font-weight: 700;
    cursor: pointer;
    transition: color 0.15s ease-in;
  }

}
