<div class="mobile-header">
  <div class="mobile-header__menu-icon">
    <%= inline_svg_tag("icons/menu.svg", height: "28px", width: "28px" ) %>
  </div>

  <div class="mobile-header__logo">
    <%= link_to(root_path) do %>
      <%= inline_svg_tag("logo-light.svg", width: "50px", height: "50px",  ) %>
    <% end %>
  </div>
</div>
