.desktop-header {
  display: none;

  @include breakpoint($screen-xs) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 50px;
    border-bottom: solid 1px $medium-gray;
  }
}
.desktop-header__image {
  width: 36px;
  height: 36px;

  img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
    margin-bottom: 15px;

    border-width: 2px;
    border-style: solid;
    border-color: $dark-purple;
    border-radius: 50%;
  }
}
.desktop-header__image--logo {
  margin-left: 20px;
}
.desktop-header__image--profile-pic {
  margin-right: 5%;
  margin-left: auto;
}
