.desktop-navigation {
  display: none;

  @include breakpoint($screen-xs) {
    top: 0;
    display: initial;
    width: 200px;
    background-color: $dark-purple;
  }
}

.desktop-navigation__logo {
  height: 65px;

  a {
    display: inline-block;
    margin: 0 auto;
    // (65px - 36px) / 2
    margin-top: 14.5px;
    text-align: left;
  }
}

.desktop-navigation__links {
  @include breakpoint($screen-xs) {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-top: 30px;
  }
}

.desktop-navigation__link-element {
  @include breakpoint($screen-xs) {
    height: 40px;
    padding-left: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 40px;
    text-align: left;

    a {
      // Display as block and set height so anchor fills up the whole
      // parent <li>
      display: block;

      // Boostrap tries to set the anchor color, override it
      color: $light-gray;
    }

    &:hover {
      background-color: $white-opacity-30;
    }
  }
}

.desktop-navigation__link-element--minor {
  @include breakpoint($screen-xs) {
    height: 28px;
    padding-left: 40px;
    font-size: 14px;
    // Vertically center the text
    line-height: 28px;

    a {
      line-height: 28px;
    }
  }
}
