.desktop-navigation {
  display: none;

  @include breakpoint($screen-xs) {
    display: initial;
    width: 200px;
    top: 0;
    color: $black;
    box-shadow: 3px 0 7px 2px $medium-gray;
    transition: width 0.4s ease;

    // Default (expanded state) should clip overflowed content to make for
    // a smoother transition
    overflow: hidden;
  }
}

.desktop-navigation__logo {
  @include breakpoint($screen-xs) {
    width: 80px;
    padding: 10px 0;
    margin: auto;
  }
}

.desktop-navigation__links {
  @include breakpoint($screen-xs) {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-top: 30px;
  }
}

.desktop-navigation__link-element {
  @include breakpoint($screen-xs) {
    text-align: left;

    // Default (expanded state) should clip overflowed content to make for
    // a smoother transition
    overflow: hidden;

    a {
      // Display as block and set height so anchor fills up the whole
      // parent <li>
      display: block;

      // Boostrap tries to set the anchor color, override it
      color: $black;
    }

    &:hover {
      background-color: $dark-purple;

      a {
        color: $light-gray;
      }
    }
  }
}

.desktop-navigation__link-element--major {
  @include breakpoint($screen-xs) {
    height: 40px;
    // Vertically center the text
    line-height: 40px;
    padding-left: 20px;
    font-size: 18px;

    a {
      line-height: 40px;
    }
  }
}

.desktop-navigation__link-element--minor {
  @include breakpoint($screen-xs) {
    height: 28px;
    // Vertically center the text
    line-height: 28px;
    padding-left: 40px;
    font-size: 14px;

    a {
      line-height: 28px;
    }
  }
}

.desktop-navigation__toggle {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 32px;
  margin-top: 100px;
  cursor: pointer;

  svg {
    margin: auto 5px;
    transition: all 0.4s;
  }
}

// Collapsed State

.desktop-navigation--collapsed {
  width: 48px;

  .desktop-navigation__logo,
  .desktop-navigation__links {
    visibility: hidden;
    opacity: 0;

    -webkit-transition: visibility 0.1s ease-out, opacity 0.1s ease-out;
    -moz-transition: visibility 0.1s ease-out, opacity 0.1s ease-out;
    -o-transition: visibility 0.1s ease-out, opacity 0.1s ease-out;
    transition: visibility 0.1s ease-out, opacity 0.1s ease-out;
  }

  .desktop-navigation__toggle {
    display: block;
    height: 32px;

    span {
      display: none;
    }

    svg {
      transform: rotate(180deg);
    }
  }
}
