<%
  flash_hash = flash.to_hash
  classes = [
    flash.empty? ? "inactive" : "active",
    flash.empty? ? "" : flash_hash.keys.first
  ].join(" ")
%>

<div class="flash <%= classes %>">
  <% unless flash.empty? %>
   <span class="message"><%= flash_hash.values.first %></span> <span class="close"><%= t(".close") %></span>
  <% end %>
</div>
